/*-----------RESET STYLE SHEET------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------body-------------*/
body{
color: #fff;
font-family: "Helvetica Neue" , arial , sans-serif;
font-size: 14pt;
line-height: 1.4;
}

/*-----------Header-------------*/
.page-header{
	height: 66px;
	background-color: rgba(0,0,0,0.8);
	margin: 0, auto;
	position: absolute;
	width: 100%;
	

}

.page-header .logo{
	float: left;
	padding-top: 23px;
	box-sizing: border-box;
}



.page-header .main-nav{
	float: right;

}
.wrapper{
	height:100%;
	width: 1100px;
	margin:0 auto;

}
.main-nav li{
	float:left;
	
	text-transform: uppercase;
	margin-left: 90px;
	padding-top: 23px;


}
li a{
	text-decoration: none;
	color: #ffffff;
}

.banner{
	
	background-image:url("../images/banner.png");
	height:750px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	padding-top: 280px;
	box-sizing: border-box;
}

.banner-block h1{
	font-family: "Helvetica Neue";
	font-size: 60px;
	font-weight: bold;
	text-transform:uppercase;

}
.subtitle{
	font-size: 18px;
	margin: 25px 0 25px 0;
}
.bnr-btn {
	display: block;
	padding: 20px 30px;
	text-decoration: none;
	color: inherit;
	width: 166px;
	box-sizing: border-box;
	background-color: red;
	margin: 0 auto;

}

/*---------------articles----------------*/
.articles{

background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(0,0,0,1) 49%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(0,0,0,1) 49%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(95deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(0,0,0,1) 49%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.articles>.wrapper::after, .page-footer>.wrapper::after{
	content: ".";
	font-size: 0;
	height: 1px;
	width: 100%;
	display: block;
	clear: both;
}


article {
	width: 50%;
	float: left;
	padding-top: 60px;
	box-sizing: border-box;
}
article:first-of-type{
	padding-right: 65px; 
	color: #000;
}
article:last-of-type{
	padding-left: 65px;

}

h2{
	font-size: 36px;
	font-weight: 300;


}
h2::after{

	content: ".";
	display: block;
	font-size: 0;
	width: 16%;
	height: 2px;
	background: red;
	margin:20px 0 25px 0;
}
.quote{
	font-style: italic;
	font-size: 22px;
	font-weight:300;
	margin-bottom: 25px;
}
.text{
	margin-bottom: 60px;
	font-weight: 300;

}


/*---------------Footer----------------*/
.page-footer{
	background:#111111;

}
.page-footer h3{
	font-size: 13px;
	text-transform: uppercase;

}
.page-footer li{
	font-size: 13px;
	color:£999999;
}
.page-footer h3::after{
	content: ".";
	font-size: 0;
	display: block;
	width: 90%;
	height:1px;
	background: #292929;
	margin:15px 0 15px 0;


}
.footer-col{
	width:25%;
	float: left;
	padding-top: 25px;
	box-sizing: border-box;
	line-height: 1.6;

}
.copy{
	color:#585858;
}


